certifi==2021.10.8
charset-normalizer==2.0.12
Deprecated==1.2.13
flake8==4.0.1
idna==3.3
-e git+https://github.com/Venus713/logging-module.git@ca02c75c96c1023521a02615ca31438b53510638#egg=logging_client
mccabe==0.6.1
packaging==21.3
pika==1.2.0
pkg_resources==0.0.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
redis==4.1.4
requests==2.27.1
urllib3==1.26.8
wrapt==1.13.3
